body {
    background-image:url(./IMG/background.png);color:aliceblue;font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;text-shadow: 0px 0px 10px black; background-attachment: fixed;
}
ul {display: flex;
justify-content:center;
list-style-type: none;
padding: 10px;background-color: rgba(92, 107, 102, 0.253);
border: 2px solid rgba(178, 245, 165, 0.068);font-size: 16px; align-items: center; 
margin-inline: 5px;margin: 0%;margin-bottom: 10px;}

ul li a {padding-left: 10px;padding-right: 10px;}


.iconedetitulo {width: 36px;height: 36px; align-items: center;}

a {color:rgb(240, 255, 241);text-decoration:none;}
header img{width: 140px; height: 150px;border-radius: 0%;
    border: 5px solid rgba(178, 245, 165, 0.068);background-color: rgba(92, 107, 102, 0.253)}

.picture_head{text-align: left;}


h1 {font-size:30px}
h2 {font-size:20px}


h3 {font-size: 20px; margin-top: 40px;}
section p {font-size:17px;padding: 0% 25px;margin-top: -5px;}



footer img{width: 40px; height: 40px;}
footer {display:flex; justify-content: center;}
footer a {margin: 10px; text-align: center;}
footer p {margin: 1px; font-size: 10px;}

.container {padding: 0px 20px}


nav a:hover {
    color:rgb(139, 238, 114)
}

main {border: 2px solid rgba(178, 245, 165, 0.068);background-color: rgba(92, 107, 102, 0.253);padding: 0% 4%;border-radius: 1%;}

.sp {text-align: center;}

.meusprogramas {margin-top: 50px;}

.gifp {text-align: center;}
.gifpp {width: 150px;height: 150px; margin-bottom: 10px;}
.downloadbutton {text-align: center;font-size: 20px;}
.downloadbutton:hover {
    color: aquamarine;
}
.justify {text-align: justify;}
.centertext {text-align: center;}

body {
    cursor: url('./IMG/Cursor.cur'), auto;
}

a, button {
    cursor: url('./IMG/Cursor.cur'), pointer;
}

.containerflex {display:flow-root}
.p1 {display: flex;background-color: rgba(92, 107, 102, 0.253);align-items: center;flex: 1;width: 100%
}

.paddingtop1 {margin-top: 20px;}

.rolld {display:inline;background-color: rgba(92, 107, 102, 0.253);
    border: 2px solid rgba(178, 245, 165, 0.068);
    align-items: center;flex: 1;width: 100%; justify-content: flex-start}

.namep {display: flex;background-color: rgba(92, 107, 102, 0.253);
border: 2px solid rgba(178, 245, 165, 0.068);
align-items: center;flex: 1; justify-content: flex-start}

.tp0 {text-align: center;margin: 0%; justify-content: flex-start;
font-family: Arial, Helvetica, sans-serif;word-wrap: break-word;text-shadow: 0px 0px 10px black;
font-size: 20px;}

.ip1 {text-align: center; width: 80px; height: 80px;}
.ip2 {text-align: center; width: 40px; height: 40px;padding-right: 40px;opacity: 0%;}


.tp2 {text-align: center;margin: 0%; justify-content: flex-start;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;}

.alert {background-color: rgba(255, 22, 22, 0.178); border:rgb(255, 0, 0);}
.alertp {background-color: rgba(255, 0, 0, 0.514); border:rgb(255, 0, 0);text-align: center;}

.alertg {background-color: rgba(22, 255, 22, 0.178); border:rgb(0, 255, 55);}
.alertpg {background-color: rgba(0, 255, 21, 0.514); border:rgb(9, 255, 0);text-align: center;}

section p :hover {
    color:rgb(139, 238, 114)
}

.downcenter {display: flex;}